

@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Manage Roles</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Manage Roles</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            @if (ViewBag.displayMenu == "Yes")
            {
                <h1>Welcome Admin. Now you can create user Role.</h1>
                <h3>
                    <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
                </h3>
            }
            else
            {
                <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
            }

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>





